.aboutus{
	width:100vw;
	height:100vh;
  color:#fff;
  font-family: 'roboto condensed';
}
.moto,.teamContainer{
	width:85vw;
	height:100vh;
	display:flex;
	flex-direction:column;
}
.moto{
	align-items: center;
	justify-content:center;
}
.main-text{
	display: block;
  border: beige 2px;
  background: rgba(0,0,0,0.6);
  padding: 10px;
  margin-top: 60px;
	margin-left: 5vw;
  font-size: large;
}
.section{
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.teamDisplay{
	width:auto;
	height:85%;
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	align-items: center;
}
.teamMembers{
	width:auto;
	height:15%;
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.teamImage img{
	width:auto;
	height:74vh;
	margin-top:68px;
}
.teamImage img.active{
	display:block;
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	transition: opacity .5s ease,-webkit-transform .5s ease;
    transition: opacity .5s ease,transform .5s ease;
    transition: opacity .5s ease,transform .5s ease,-webkit-transform .5s ease;
}
.teamImage img.passive{
	display:none;
}
.teamMembers .images{
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
	transition: opacity .5s ease,-webkit-transform .5s ease;
    transition: opacity .5s ease,transform .5s ease;
    transition: opacity .5s ease,transform .5s ease,-webkit-transform .5s ease;
}
.teamMembers .images img{
	width: 5.2vw;
    height: auto;
    transition: -webkit-transform .1s linear;
    transition: transform .1s linear;
    transition: transform .1s linear,-webkit-transform .1s linear;
    cursor: pointer;
}
.teamMembers .images img.active{
     box-shadow: 0 0 10px 2px rgba(102,102,102,.5);
    border: 2px solid #fff;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
}
.teamImage{
    display:flex;
    justify-content: flex-end;
}
.teamInfo{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.teamMemberName,.teamMemberPosition{
    margin-left:20px;
}
.teamMemberName{
    font-weight: 600;
    font-size: 1.2em;
}
.teamMemberPosition{
    font-weight: 400;
    font-size: 0.87em;
}
.mainmoto{
	text-align:center;
    font-size: 3.1em;
    margin-bottom: 30px;
}
.btn-text{
	text-align: center;
	padding:0 10px;
	font-size:1.7em;
	font-weight: 300;
    color: #fff;
    text-align: center;
    background: #60cc69;
    border: 1px solid #36a940;
    border-bottom: 3px solid #36a940;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    cursor:pointer;
		text-decoration:none;
}
.btn-text:hover{
	text-decoration:none;
	color:#fff;
}
.sideBar{
	position: fixed;
	z-index: 2;/*for fixed componenets */
	top:40vh;
	right:-1vw;
}
.sideBar .sideBarContent{
	display: block;
    position: relative;
    right: 5px;
    height: 30px;
    width: 100%;
    text-align: right;
    padding-right: 5vw;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    transition: color .3s ease;
	cursor:pointer;
}

.sideBarContent:after {
    position: absolute;
    display: block;
    content: '';
    border: 0;
    width: 0;
    height: 1px;
    background: #2dcc70;
    right: 0;
    top: 14px;
    margin-left: 1px;
    opacity: 0.3;
    transition: all .3s;
}
.sideBarContent.active:after {

    transition: all .3s;
}
.sideBarContent.active:after {
    opacity: .6;
    width: 4.45vw;
}
.sideBarContent:before {
    position: absolute;
    display: block;
    background: #666;
    content: '';
    border: 0;
    width: 5px;
    height: 5px;
    right: 4.45vw;
    top: 12px;
}
.sideBarContent.active:before{
    background: #666;
}
.section{
	overflow-y: hidden;
}
.memberContainer{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
}
.eachMembers{
  width:200px;
  margin:0 auto 10px;
}
.image{
  width:200px;
  height:200px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.image img{
  width:100%;
  border-radius:100px;
  height:100%;
}
.information{
  text-align: center;
  margin-top:2px;
}

@media only screen and (max-width: 991px){
	.mainmoto{
		font-size:1.8em;
	}
	.sideBar{
		display: none;
	}
	.moto,.teamContainer{
		width:100vw;
	}
	.main-text{
		margin-left: 0;
		margin-right: 0;
	}
	.teamImage{
		width:100%;
	}
	.teamDisplay{
		flex-wrap:wrap;
	}
	.teamImage{
	    justify-content: center;
	}
}
