.messageFormContainer{
    display: flex;
    flex-direction: column;
    color:white;
}
.btnSubmitMessage{
    background: transparent;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    align-self: center;
    width: 80%;
    height: 40px;
    cursor: pointer;
    color:rgba(255, 255, 255, 0.7);
}
.btnSubmitMessage:hover{
    border-color: greenyellow;
    color: #ffffff;
}

@media only screen and (max-width:991px){
    .btnSubmitMessage{
        width:60%;
        height: 30px;
    }
}