#vertical-border{
    border-style: solid;
    border-color: transparent transparent transparent white;
    border-radius: 4px 0 0 4px;
    border-width: 0 0 0 1px;
    height: 40px;
}

@media only screen and (max-width: 991px) {
    #vertical-border{
        display: none;
    }
}