.sectionContentHeader{
	text-align:center;
	margin-top:70px;
	width: inherit;
	text-transform: uppercase;
    font-size: xx-large;
    font-weight: lighter;
}
.sectionContentMain{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.content{
	width: 400px;
	margin-top:5px;
	text-align:center;
}
.contentImage{

}
.contentImage img{
	height: 100%;
	border-radius: 50%;
    box-shadow: 0 0 10px 2px rgba(102,102,102,.5);
    border: 2px solid #fff;
}
.mainContent{
	display: flex;
	flex-direction: column;
}
.mainContentHeader{
	margin-top:5px;
	font-size:x-large;
	font-weight:lighter;
}
.mainContentInfo{

}
.mainContentButton{
	font-size: 1.1em;
    font-weight: bolder;
    cursor: pointer;
}
.mainContentButton:hover{
	color:#abc;
}
.mainContentButton span{

}
@media only screen and (max-width: 991px){
}
